# Configuration API pour l'Espace Client Web
VITE_API_URL=http://localhost:5000/api

# Configuration Keycloak pour l'Espace Client Web
VITE_KEYCLOAK_URL=http://localhost:8080
VITE_KEYCLOAK_REALM=ask_extranet_mobile
VITE_KEYCLOAK_CLIENT_ID=client_extranet
