# Configuration API pour la Production
EXPO_PUBLIC_API_URL=https://api.votre-domaine.com/api

# Configuration Keycloak pour la Production
EXPO_PUBLIC_KEYCLOAK_URL=https://auth.votre-domaine.com
EXPO_PUBLIC_KEYCLOAK_REALM=ask_extranet_mobile
EXPO_PUBLIC_KEYCLOAK_CLIENT_ID=client_mobile
