# Port d'écoute du serveur
PORT=5000

# Configuration Base de Données (SQL Server)
DB_USER=votre_utilisateur
DB_PASSWORD=votre_mot_de_passe
DB_DATABASE=IBS_Extranet_Mobile
DB_SERVER=localhost
DB_PORT=1433

# Configuration Keycloak (Backend / Verification)
KEYCLOAK_REALM=ask_extranet_mobile
KEYCLOAK_AUTH_SERVER_URL=http://localhost:8080
KEYCLOAK_CLIENT_ID=client_api
