PORT=3000
NODE_ENV=production

# Database Configuration
DB_USER=votre_utilisateur
DB_PASSWORD=votre_mot_de_passe
DB_DATABASE=Extranet_Mobile_DB
DB_SERVER=votre_serveur_sql
DB_PORT=1433

# Keycloak Configuration
KEYCLOAK_REALM=ask_extranet_mobile
KEYCLOAK_AUTH_SERVER_URL=https://votre-keycloak.com
KEYCLOAK_CLIENT_ID=client_api
KEYCLOAK_CLIENT_SECRET=votre_secret_client_api_de_production

# Security
ALLOWED_ORIGINS=https://admin.votre-domaine.com,https://client.votre-domaine.com
